<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{#if styles}}
    <style>{{{styles}}}</style>
    {{/if}}
    {{#if customStyles}}
    <style>{{{customStyles}}}</style>
    {{/if}}
</head>
<body>
    {{{body}}}
    {{#if scripts}}
    <script>{{{scripts}}}</script>
    {{/if}}
</body>
</html>